html, body{
	height: 100%;
}

body{
	margin: 0px;
	padding: 0px;
}

*{
	font-family: 'Dosis', sans-serif;
}

/*Header*/
header{
	height: 100%;
	width: 100%;
	background: linear-gradient(#2E64FE, #58D3F7);
}

.menu{
	position: fixed;
	display: inline-block;
	width: 100%;
	padding: 2% 0% 2% 70%;
	background-color: white;
	opacity: 0.8;
	z-index: 100;
}

.menu a{
	margin-left:8%;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

.letra-lechuguita{
	position: absolute;
	width: 30%;
	top: 15%;
	left: 35%;
}

.payaso{
	position: absolute;
	width: 15%;
	left: 42%;
	top: 30%;
}

.letra-show{
	position: absolute;
	width: 25%;
	left: 37%;
	top: 65%;
	z-index: 90;
}

.nube1{
	position: absolute;
	width: 40%;
	top: 60%;
}

.nube2{
	position: absolute;
	width: 40%;
	top: 60%;
	left: 35%;	
}

.nube3{
	position: absolute;
	width: 40%;
	top: 60%;
	left: 60%;
}


/*Planes*/
.planes{
	background: linear-gradient(#58D3F7,#CEF6F5);
	text-align: center;
}

.plan{
	background-color: white;
	opacity: 0.95;
	padding: 2%;
	margin: 4%;
}

.plan:nth-child(1){
	color: pink;
}

.plan:nth-child(2){
	color: green;
}

.plan:nth-child(3){
	color: purple;
}

/*Contacto*/
.contacto{
	background: linear-gradient(#CEF6F5,#CEF6F5);
	padding: 5%;
}

/*General*/
.pd-3{
	padding: 3%;
}

.pt-3{
	padding-top: 3%;
}

input, textarea{
	margin-bottom: 3%;
}

/*Footer*/
footer{
	background-color: white;
	opacity: 0.8;
	padding: 2%;
}

/*Tamaño de la fuente*/
@media all and (min-width: 960px) {
    body{
        font-size: 18px;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 14px;
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 10px;
    }
 
}


