html, body{
	height: 100%;
}

body{
	margin: 0px;
	padding: 0px;
}

/*Header*/
.header{
	height: 100%;
	width: 100%;
	background: linear-gradient(#2E64FE, #58D3F7);
}

.menu{
	position: fixed;
	display: inline-block;
	width: 100%;
	padding: 2% 0% 2% 70%;
	background-color: red;
	opacity: 0.7;
	z-index: 100;
}

.menu a{
	margin-left: 2%;
	text-decoration: none;
}

.LetraLechuguita{
	position: absolute;
	width: 30%;
	top: 15%;
	left: 35%;
}

.Payaso1{
	position: absolute;
	width: 15%;
	left: 42%;
	top: 30%;
}

.LetraShow{
	position: absolute;
	width: 25%;
	left: 37%;
	top: 65%;
	z-index: 90;
}

.Nube1{
	position: absolute;
	width: 40%;
	top: 60%;
}

.Nube2{
	position: absolute;
	width: 40%;
	top: 60%;
	left: 35%;	
}

.Nube3{
	position: absolute;
	width: 40%;
	top: 60%;
	left: 60%;
}

/*Main*/

.main{
	background: linear-gradient(#58D3F7,#CEF6F5);
}

.plan{

	display: inline-block;
	height: 35%;
	width: 22%;
	margin: 2.3%;
	padding: 3%;
	background-color: white;
	opacity: 0.95;
}

.plan h2{
	margin-left: 75%;
}

.plan:nth-child(1){
	color: pink;
}

.plan:nth-child(2){
	color: green;
}

.plan:nth-child(3){
	color: purple;
}

.plan a{
	text-decoration: none;
}

.botonPlan{
	position: relative;
	left: 65%;
	top: 0%;
	width: 20%;
	height: 10%;
	padding: 3% 5% 3% 5%;	
	color: white;
}

.fondoRosado{
	background-color: pink;
}

.fondoVerde{
	background-color: green;
}

.fondoMorado{
	background-color: purple;
}

.Nariz{
	position: absolute;
	left: 90%;
	width: 20%;

}
/*Contacto*/

.contacto{
	margin: auto;
	width: 29%;
	padding: 2%;
}

.contacto h2{
	margin-left: 68%;
}

.contacto input, textarea{
	width: 100%;
	margin-bottom: 5%;
}



